{% extends "base.html" %}
{% block title %}Run Command{% endblock %}
{% block content %}
    <h1 class="mt-4">Run Command</h1>
    <form method="POST">
        <div class="form-group">
            <label for="cmd">Command</label>
            <input type="text" class="form-control" id="cmd" name="cmd" placeholder="Command" required>
        </div>
        <button type="submit" class="btn btn-primary">Run</button>
    </form>
    {% if result %}
        <pre class="mt-4">{{ result }}</pre>
    {% endif %}
{% endblock %}
