{% extends "base.html" %}

{% block title %}Logga in{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center text-primary mb-4">Logga in</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
            <label for="username" class="form-label">Användarnamn</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Lösenord</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" name="action" value="login">Logga in</button>
            <button type="submit" class="btn btn-secondary" name="action" value="register">Registrera</button>
        </div>
    </form>
</div>
{% endblock %}
