{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center text-primary mb-4">Shop</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product[1] }}</h5>
                        <p class="card-text">Pris: {{ product[2] }} SEK</p>
                        <p class="card-text">{{ product[3] }}</p>
                        <a href="{{ url_for('add_to_cart', product_id=product[0]) }}" class="btn btn-primary">
                            Lägg till i kundvagn
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-secondary btn-lg shadow-sm" href="{{ url_for('view_cart') }}">
            <i class="bi bi-cart"></i> Visa kundvagn
        </a>
    </div>

    {% if 'user' in session and session['user'] == 'admin' %}
        <div class="text-center mt-5">
            <a href="{{ url_for('add_product') }}" class="btn btn-success btn-lg shadow-sm">
                <i class="bi bi-plus-circle"></i> Lägg till ny produkt
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
